@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Assistant|Hind+Madurai&display=swap');

.product__container{
    width : 18rem;
    border : 1px solid gray;
    padding: 0;
}
.product__image{
    height: 18rem;
}
.product__image__container{
    margin: 0;
    padding: 0;
}
.header__container{
    position: relative;
    background-color: #410586
}
.header__title {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: white;
}
.header__cartItem {
    position: absolute;
    top: 2rem;
    right: 1rem;
    font-family: 'Bree Serif', serif;
    font-size: 1.1rem;
}
.product__price, .product__detail__price {
    font-family: 'Russo One', sans-serif;
}
.productList__container {
    justify-content: center;
    margin-left: 0;
}
.product__detail {
    position: relative;
}
.product__detail__image{
    width:100%;
}
.product__detail__card {
    justify-content: center;
}
.product__btn {
    position: relative;
}
.product__detail__all__info {
    line-height: 1.8;
    font-family: 'Hind Madurai', sans-serif;
}
.product__detail__info {
    font-family: 'Bree Serif', serif;
}
.product__description{
    font-family: 'Hind Madurai', sans-serif;
}
.product__name {
    font-family: 'Bree Serif', serif;
}