@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Assistant|Hind+Madurai&display=swap');

.product__container{
    width : 18rem;
    border : 1px solid gray;
    padding: 0;
}
.cart__summary__container {
    border : 1px solid gray;
    border-radius: 9px;
}
.cart__summary__image__container{
    padding: 0;
}
.cartsummarty__title{
    font-family: 'Bree Serif', serif;
}
.cartsummarty__total{
    font-family: 'Bree Serif', serif;
}
.cart__summary__image{
    height: 13rem;
}
.product__image{
    height: 18rem;
}
.product__image__container{
    margin: 0;
    padding: 0;
    text-align: center;
}
.header__container{
    position: relative;
    background-color: #410586;
    justify-content: center;
    align-items: center;
    background-image: url("https://data.whicdn.com/images/277722125/original.gif");
}
.header__title {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: white;
}
.header__cartItem {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
.header__cartItem p{
    font-size: 1.2rem;
}
.product__price, .product__detail__price {
    font-family: 'Russo One', sans-serif;
}
.productList__container {
    margin-left: 0;
    justify-content: center;
}
.product__detail {
    position: relative;
}
.product__detail__image{
    width:100%;
}
.product__detail__card {
    justify-content: center;
}
.product__btn {
    position: relative;
}
.product__detail__all__info {
    line-height: 1.8;
    font-family: 'Hind Madurai', sans-serif;
}
.product__detail__info {
    font-family: 'Bree Serif', serif;
}
.product__description{
    font-family: 'Hind Madurai', sans-serif;
}
.product__name {
    font-family: 'Bree Serif', serif;
}