@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

.product__container{
    width : 18rem;
    border : 1px solid gray;
    padding: 0;
}
.product__image{
    height: 13rem;
}
.product__image__container{
    margin: 0;
    padding: 0;
}
.header__title {
    text-align: center;
    font-family: 'Russo One', sans-serif;
}
.productList__container {
    justify-content: center;
}
